<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
       
    <bean class = "me.validators.StudentValidation" id = "stdValId"/>
        
    <bean class = "me.beans.Student" id = "std">
    	<property name = "name" value = "Piyush"/>
    	<property name = "rollno" value = "113"/>
    	<property name = "marks" value = "91.2"/>
    </bean>
   	
</beans>