<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
     <bean class ="me.beans.Address" id="addId">
    	<constructor-arg value="Shukhi Bhawan"/>
    	<constructor-arg value="012"/>
    	<constructor-arg value="Dhanbad"/>
    </bean>
    <bean class ="me.beans.Student" id="stdId">
    	<constructor-arg value="Piyush"/>
    	<constructor-arg value="096"/>
    	<constructor-arg ref="addId"/>
    </bean>
   

</beans>