<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <!-- ye StudentFactory ka object bana dega and then iska id hum
    2nd wale bean creation wale tag mein de denge to wo iska object leke
    StudentFactory ke studentObj method ko call krwa dega and wo constructor
    ko call kr dega and then bean object will create -->
    <bean class = "me.factory.StudentFactory" id = "factoryMethod"/>
    
    <bean class = "me.beans.Student" id="std" factory-bean="factoryMethod" factory-method="studentObj"/>

</beans>