<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class = "org.springframework.context.support.ResourceBundleMessageSource"
    			 id = "mgS">
    		<property name = "basename" value = "me/resources/MessageBundle"/>
    </bean>
    			 
    <bean class = "me.beans.Student" id= "std">
    	<property name = "names" value ="Piyush"/>
    	<property name = "country" value ="India"/>
    	<property name ="messageSource" ref ="mgS"/>
    </bean>

</beans>